<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arks_SystemTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Arks_SystemTool.Properties.Settings>
            <setting name="pso2_path" serializeAs="String">
                <value />
            </setting>
            <setting name="remove_censorship" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="translate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keep_et_jpnames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keep_enemy_jpnames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clean_gg_atlaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="current_patch_date" serializeAs="String">
                <value>2017-08-01</value>
            </setting>
            <setting name="current_patch_version" serializeAs="String">
                <value>v50001_rc_28</value>
            </setting>
        </Arks_SystemTool.Properties.Settings>
    </userSettings>
</configuration>